<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <listener>
        <listener-class>com.eduard240300.TarockWebSite.Service.InitializerService</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.eduard240300.TarockWebSite.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.eduard240300.TarockWebSite.Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSessionController</servlet-name>
        <servlet-class>com.eduard240300.TarockWebSite.Controller.AddSessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeSessionController</servlet-name>
        <servlet-class>com.eduard240300.TarockWebSite.Controller.SeeSessionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSessionController</servlet-name>
        <url-pattern>/AddSessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeSessionController</servlet-name>
        <url-pattern>/SeeSessionController</url-pattern>
    </servlet-mapping>


</web-app>